<article class="post">
    <header>
        <h3 class="posts">Lorem ipsum dolor sit amet.</h3>
    </header>
    <div class="post_content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis voluptatem suscipit necessitatibus vero eligendi, sequi cumque omnis natus et eos! Consequuntur necessitatibus placeat facilis quibusdam ea totam error velit qui tempore suscipit explicabo repudiandae aliquam accusamus ab repellendus, quas quia? Ipsa sit amet aliquam dolorem est perspiciatis quia totam officiis.
    </div>
</article>